# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
goweb
go.sum
frontend/dist/js/bundle.js
frontend/dist/js/bundle.js.map
frontend/dist/js/*.bundle.js
frontend/dist/js/*.bundle.js.map

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Public HTMLs
publicHTML
node_modules
npm-debug.log

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
debug
localhost.key
localhost.cert

# Databases
sample.db
./privatefiles