body {
    background-color: white;
}

.main-content {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color:transparent;
}

.special-content {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.special-loading {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.special-error {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.visible {
    visibility: visible;
}

/* Panels */
.top-panel {
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
}

.side-panel {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: calc(100% - 40px);
}

.content-panel {
    position: absolute;
    top: 40px;
    left: 0;
    margin-left: 100px;
    height: calc(100% - 40px);
    width: calc(100% - 100px);
}

.loading-panel {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.visible-panel {
    visibility: visible;
}